<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
    <div class="order">
        <h1>Редактирование заказа</h1>
        <form id="order-form">
            {% csrf_token %}
            <div>
                <label for="client_full_name">Полное имя клиента:</label>
                <input type="text" id="client_full_name" value="" disabled>
            </div>
            <div>
                <label for="client_email">Email клиента:</label>
                <input type="email" id="client_email" value="" disabled>
            </div>
            <div>
                <label for="client_phone">Телефон клиента:</label>
                <input type="text" id="client_phone" value="" disabled>
            </div>
            <div>
                <label for="product">Продукт:</label>
                <input type="text" id="product" value="" disabled>
            </div>
            <div>
                <label for="quantity">Количество:</label>
                <input type="number" id="quantity" name="quantity" value="" oninput="updateTotalPrice()">
            </div>
            <div>
                <label for="price">Цена:</label>
                <input type="text" id="price" name="price" value="" oninput="updateTotalPrice()">
            </div>
            <div>
                <label for="total_price">Итого</label>
                <input type="text" id="total_price" name="total_price" value="" disabled>
            </div>
            <div>
                <label for="description">Описание:</label>
                <input type="text" id="description" name="description" value="">
            </div>
            <div>
                <label for="status">Статус:</label>
                <select id="status" name="status">
                    <option value="Pending">В обработке</option>
                    <option value="Completed">Выполнен</option>
                    <option value="Cancelled">Завершен</option>
                </select>
            </div>
            <button id="order-form-send" type="button">Сохранить изменения</button>
        </form>
    </div>

    <script>
        // Функция для обновления итоговой цены
        function updateTotalPrice() {
            const price = parseFloat(document.getElementById('price').value) || 0;
            const quantity = parseInt(document.getElementById('quantity').value) || 0;
            const totalPrice = price * quantity;
            document.getElementById('total_price').value = totalPrice.toFixed(2);
        }

        // Получаем данные заказа при загрузке страницы
        fetch('/api/orders/get/{{ order_id }}/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                console.error('Ошибка HTTP:', response.status);
                throw new Error('Ошибка при запросе данных');
            }
            return response.json();
        })
        .then(result => {
            document.getElementById('client_full_name').value = result.client.client.full_name;
            document.getElementById('client_email').value = result.client.client.email;
            document.getElementById('client_phone').value = result.client.client.mobile_phone;
            document.getElementById('product').value = result.client.product;
            document.getElementById('quantity').value = result.client.quantity;
            document.getElementById('price').value = result.client.price;
            document.getElementById('total_price').value = result.client.total_price;
            document.getElementById('description').value = result.client.description;
            document.getElementById('status').value = result.client.status;
        })
        .catch(error => console.error('Ошибка при загрузке данных:', error));

        // Отправка формы и редирект на страницу /orders/ после успешного обновления
        document.getElementById('order-form-send').addEventListener('click', function () {
            // Получаем данные из формы
            const formData = new FormData(document.getElementById('order-form'));

            // Отправляем данные на сервер
            fetch('/api/orders/edit/{{ order_id }}/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
            .then(response => response.json())
            .then(result => {
                console.log(result)
                if (result.success){
                    window.location.href = '/orders/?msg=successadd';
                }
                else {
                    window.location.href = '/orders/?msg=erroradd';
                }

            })

        });
    </script>
</body>
</html>
