<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать клиента</title>
</head>
<body>
    <h1>Создание нового клиента</h1>

    <input type="text" name="first_name" id="first_name" placeholder="Имя">
    <input type="text" name="middle_name" id="middle_name" placeholder="Отчество">
    <input type="text" name="last_name" id="last_name" placeholder="Фамилия">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="text" name="mobile_phone" id="mobile_phone" placeholder="Телефон">

    <input type="button" value="Создать" id="create-client-btn">

    <script>
        document.getElementById('create-client-btn').addEventListener('click', function () {
            const firstName = document.getElementById('first_name').value;
            const middleName = document.getElementById('middle_name').value;
            const lastName = document.getElementById('last_name').value;
            const email = document.getElementById('email').value;
            const mobilePhone = document.getElementById('mobile_phone').value;

            // Создаем FormData для отправки данных
            const formData = new FormData();
            formData.append('first_name', firstName);
            formData.append('middle_name', middleName);
            formData.append('last_name', lastName);
            formData.append('email', email);
            formData.append('mobile_phone', mobilePhone);

            fetch('/api/clients/add/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => response.json())
            .then(result => {
                if (result.id) {
                    {% if next %}
                        window.location.href = `{{ next }}?client_select=${result.id}`
                    {% else %}
                    window.location.href = `/clients/${result.id}/`;
                    {% endif %}
                } else {
                    alert('Ошибка при создании клиента');
                }
            })
            .catch(error => {
                console.error('Ошибка при отправке данных:', error);
            });
        });
    </script>
</body>
</html>
