{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'clients/css/clients.css' %}">
</head>
<body>

{% include 'main/header.html' %}

<main class="container mt-4">
    {% include 'main/notifications.html' %}
    {% csrf_token %}
    <input type="hidden" name="client_id" value="{{ client_id|escape }}">
    <div class="client">
        <h1>Редактирование клиента</h1>
        <form id="client-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="last_name">Фамилия:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="">
            </div>
            <div class="form-group">
                <label for="first_name">Имя:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="">
            </div>
            <div class="form-group">
                <label for="middle_name">Отчество:</label>
                <input type="text" class="form-control" id="middle_name" name="middle_name" value="">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="">
            </div>
            <div class="form-group">
                <label for="mobile_phone">Телефон:</label>
                <input type="text" class="form-control" id="mobile_phone" name="mobile_phone" value="">
            </div>
            <button id="client-form-send" type="button" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'clients/js/editClient.js' %}">
</script>

</body>
</html>
