<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    {{ username }}

    <form action="/login/logout/" method="post">
        {% csrf_token %}
        <input type="submit" value="Выйти">
    </form>

    <a href={% url "clients" %}>Пользователи</a>
    <a href={% url "orders" %}>Заказы</a>
    <a href={% url "reports" %}>Создать отчет</a>

    {% if isAdmin %}
    <a href={% url 'new_user' %}>Добавить работника</a>
{% endif %}
</body>
</html>